

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ultimate_container {

    width: 100%;
    overflow-x: hidden;
}

/* desktop navbar */

.nav_bar {

    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    
    background-color: #FFF;

}


.nav_bar ul  {
    padding-right: 5%;
}
.nav_bar ul li {

    list-style: none;

    display: inline;
    margin-left: 10px;
    height: 70px;
    font-weight: normal;
    padding: 20px 10px;

}

.nav_bar ul li {

    list-style-type: none;
    color:black
}
.nav_bar ul  a {

    text-decoration: none;
    color:#000;
}
.nav_bar ul  a:hover{

    color:#fff;
}
.nav_bar ul li:hover {

        cursor: pointer;
        background-color: #002060;
        color: #fff;
        background-size: 200px 120px;
}




/* desktop navbar */

/* mobile & tablet navbar */

.list { 

    width: 100%;
    margin-right: 50%;
    margin-top: 19%;
}




.burger_bar {

    display: none;
    margin-right: 10%;
    font-size: 4rem;
    cursor: pointer;
    color:#002060;
    margin-bottom: 3%;
}

.nav_mobile{

    display: none;
} 

.nav_bar img { 

    width: 260px;
    height: 75px;
    margin-bottom: 5%;
}

/* mobile & tablet navbar */




/* Responsive */

@media only screen and (max-width:1100px){

    .nav_list{

        display: none;
    } 

    .nav_bar {

        width:100wh;
    }
    .nav_mobile {

        display: flex;
        transition-property: all;
        transition-duration: 3s, 1s;
        transition-delay: 1s;
        transition-timing-function: linear;
        margin-bottom: 30px;
        width: 100%;
        overflow-x: hidden;



        }

    .burger_bar {

        display: flex;
    }

    .nav_mobile ul li {

        list-style: none;
        margin-top: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #000;
       
    
    }

    .nav_mobile ul {

        text-align: center;
        margin-left:  50%;
        width: 100%;
    }

    .nav_mobile ul li:hover {

        cursor: pointer;
        background-color: #002060;
        color: #FFF;
        background-size: 200px 120px;
}

.nav_mobile ul li a {

    color: #000;
    text-decoration: none;
}

.nav_mobile ul li a:hover {

    color: #fff;
    text-decoration: none;
}
    
}